/* ----------------------- Google Fonts -------------------- */


.noto-sans-rem {
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* ----------------------- CSS Variables ------------------- */
:root
{
  --header-height: 3rem;
  --nav-width: 324px;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Colors */
  --first-color: #18181c; /* Color blanco */
  --first-color-dark: rgb(24, 24, 28); /* Color blanco (oscuro) */
  --first-color-darken: #18181c; /* Color blanco (oscuro) */
  --text-color: #18181c; /* Color negro */
  --first-color-light: #f9fafd; /* Color de fondo oscuro */
  --first-color-light-dark: rgb(249, 250, 253); /* Color de fondo oscuro con opacidad */
  --first-color-lighten: #f9fafd; /* Color de fondo más oscuro */
  --background-color: #f9fafd; /* Color de fondo en modo oscuro */
  /* Font & Typography */
  --body-font: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* z-index */
  --z-fixed: 100;
}

[data-theme='dark']
{
  --first-color: #f9fafd;
  --first-color-dark: rgb(249, 250, 253);
  --first-color-darken: #f9fafd;
  --text-color: #f9fafd;
  --first-color-light: #18181c;
  --first-color-light-dark: rgb(24, 24, 28);
  --first-color-lighten: rgb(24, 24, 28);
  --background-color: #18181c;


}
[data-theme='dark']  .works__data
{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(249, 250, 253);
  border-radius: .5rem;
  transition: .3s;
}


@media screen and (min-width: 768px)
{
  :root
  {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* BASE */
*, ::before, ::after
{
  box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}

body
{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}


h1, h2, h3, p
{
  margin: 0;
}

h3
{
  font-weight: var(--font-semi-bold);
}

ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

a
{
  text-decoration: none;
  color: var(--text-color);
}

img
{
  max-width: 100%;
  height: auto;
  display: block;
}

/* Menu icon */
.bx
{
  font-size: 1.6rem;
}

/* Class CSS */
.section
{
  padding: 4rem 0 2rem;
}

.section-title
{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}


.section-subtitle
{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/* Layout */
.bd-grid
{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header
{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgb(24, 24, 28);
}

/* -------------------- Nav ----------------------- */
.nav
{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu
{
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

.nav__close
{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-light);
  cursor: pointer;
}

.nav__item
{
  margin-bottom: var(--mb-4);
}

.nav__link
{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}



.nav__link:hover
{
  color: var(--first-color-light-dark);
}

.nav__toggle
{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/* --------------------- show menu -------------------- */
.show
{
  left: 0;
}

/* ----------------------- Active menu ----------------- */
.active
{
  color: var(--first-color-light-dark);
}

/* ----------------------- Home ------------------------------ */
.home__container
{
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img
{

  padding-left: .12rem;
  width: 140px;
  height: 135px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home__img img
{
  width: 155px;
}

.home__title
{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home__profession
{
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

.home__social
{
  margin-bottom: 5rem;
}

.home__social-link
{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.home__social-link:hover
{
  background-color: var(--first-color-dark);
}

.home__button
{
  width: 100%;



}

/* ----------------------- Buttons ------------------ */
.button
{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover
{
  background-color: var(--first-color-dark);
}

.button__light
{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover
{
  color: var(--first-color-lighten);
}


/* ------------------------- About -------------------------------- */
.about__container
{
  row-gap: 2rem;
}

.about__data
{
  text-align: center;
}

.about__description
{
  margin-bottom: var(--mb-4);
}

.about__img
{
  width: 260px;
  border-radius: .5rem;
  margin: 0 auto;
  background-color: var(--first-color);
}

.about__information
{
  margin-bottom: var(--mb-4);
}

.about__information-title
{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data
{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon
{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle
{
  display: block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small
{
  font-size: var(--small-font-size);
}



/* -------------------------------- Education ---------------------------- */
.education__container
{
  row-gap: 2rem;
}

.education__content
{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race
{
  font-size: var(--h3-font-size);
  mask-border: .25;
}

.education__university, .education__specialty
{
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__university
{
  text-align: right;
}

.education__time
{
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder
{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before
{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line
{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}

/* ------------------------------------ Services ------------------------------- */
.services__container
{
  row-gap: 2rem;
}

.services__content
{
  padding: 1.5rem .5rem;
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  text-align: center;
}

.service__icon
{
  font-size: 2rem;
  padding: .5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services__title
{
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.services__content, .services__icon, .services__title, .services__description
{
  transition: .5s;
}

.services__content:hover
{
  background-color: var(--first-color);
}

.services__content:hover .service__icon
{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.services__content:hover .services__title
{
  color: var(--first-color-lighten);
}

.services__content:hover .services__description
{
  color: var(--first-color-lighten);
}

/* ------------------------------------------ Project in mind ------------------------- */
.project
{
  background-color: var(--first-color);
  padding-bottom: 0;
}

.project__container
{
  row-gap: 2rem;
}

.project__data
{
  text-align: center;
}

.project__title, .project__description
{
  color: var(--first-color-lighten);
}

.project__description
{
  margin-bottom: var(--mb-4);
}

.project__img
{
  width: 220px;
  justify-self: center;
}

/* ------------------------------ Works ----------------------------- */
.works__container
{

  justify-items: center;
  row-gap: 1rem;
}

.works__img
{
  width: 220px;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;

}

.works__data
{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(24, 24, 28, 0.62);
  border-radius: .5rem;
  transition: .3s;
}

.works__link
{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2);
}

.works__title
{

  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
  text-align: center;

}



.works__img:hover .works__data
{

  bottom: 0;
}

/* ----------------------------- Contact ---------------------- */
.contact__container
{
  row-gap: 3rem;
}

.contact__input
{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
}

.contact::placeholder
{
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button
{
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info
{
  margin-bottom: var(--mb-3);
}

.contact__subtitle
{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.contact__text
{
  display: block;
  padding-left: 1rem;
}

/* ---------------------------------- Footer ---------------------------- */
.footer
{
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__title
{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer-description
{
  margin-bottom: var(--mb-2);
}

.footer-social
{
  margin-bottom: 3rem;
}

.footer__link
{
  display: inline-flex;
  background-color: var(--first-color-light);
  color: var(--first-color);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer-link:hover
{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.footer__copy
{
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/* ------------------------- Media Queries for tablet screen ---------------------------- */
@media screen and (min-width: 786px)
{
  .home__button
  {
    width: initial;
  }

  .nav__menu
  {
    width: var(--nav-width);
  }

  .about__container,
  .skills__container,
  .services__container,
  .works__container,
  .contact__container,
  .contact__inputs
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__img
  {
    width: 160px;
  }

  .about__data
  {
    text-align: initial;
  }

  .about__information
  {
    padding-left: 4rem;
  }

  .education__time
  {
    padding: 0 2rem;
  }

  .project
  {
    background: none;
  }

  .project__container
  {
    background-color: var(--first-color);
    grid-template-columns: 2fr 1.2fr;
    padding: 0 2rem;
    border-radius: .5rem;
  }

  .project__data
  {
    padding: 1rem 0;
  }

  .project__title, .project__data
  {
    text-align: initial;
  }

  .project__img
  {
    width: 230px;
    align-self: flex-end;
  }

  .contact__inputs
  {
    display: grid;
    column-gap: 1.5rem;
  }

  .contact__info
  {
    padding-left: 3rem;
  }

  .footer
  {
    background: none;
  }

  .footer__container
  {
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: .5rem;
  }
}

/* ------------------------------ Media Query for laptop/desktop screen ------------------------- */
@media screen and (min-width: 1024px)
{
  body
  {
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header
  {
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close
  {
    display: none;
  }

  .nav__menu
  {
    left: 0;
  }

  .home__container
  {
    height: 100vh;
  }

  .section
  {
    padding: 3rem 0 2rem;
  }

  .bd-grid
  {
    margin-left: auto;
    margin-right: auto;
  }

  .about__img
  {
    width: 200px;
  }

  .services__container, .works__container
  {
    grid-template-columns: repeat(3,1fr);
  }
}
.boton-arriba-derecha {
  position: fixed;
  top: 3%; /* Ajusta la distancia desde la parte superior en porcentaje */
  right: 3%; /* Ajusta la distancia desde la derecha en porcentaje */
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1.5vw 3vw; /* Ajusta el padding en relación con el ancho de la ventana */
  font-weight: var(--font-semi-bold);
  border-radius: .3rem; /* Ajusta el radio del borde según tus preferencias */
  transition: background-color 0.3s;
}

.boton-arriba-derecha:hover {
  background-color: var(--first-color-dark);
}

